.custom-navbar {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  background-color: #fff !important;
  box-shadow: 0px 2px 4px rgba(63, 114, 175, 0.16);
  @media (min-width: 576px) {
    padding-left: 53px;
    padding-right: 53px;
  }
}

.custom-navbar .navbar-nav a {
  font-size: 16px;
  font-weight: 500;
  color: #112d4e !important;
}
.custom-navbar .navbar-nav a.active {
  color: #3f72af !important;
}

@media (min-width: 992px) {
  .custom-navbar .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 62px !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center !important;
    &:hover {
      font-weight: 500;
      color: #3f72af;
      background: #f1f4f9;
    }
  }
  .custom-navbar .navbar-nav {
    padding-top: 20px;
    margin-top: 15px;
    box-shadow: inset 0px 1px 0px rgba(63, 114, 175, 0.16);
  }
}
.custom-navbar .navbar-toggler {
  border: 0;
  &:focus {
    box-shadow: none !important;
  }
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../../../../public/images/menu-bar.svg) !important;
}
