.custom-card {
  border: 0 solid transparent !important;
  transition: all 0.2s ease-in-out;
  @media (min-width: 1200px) {
    a {
      overflow: hidden;
      img {
        height: 250px;
      }
    }
  }
  &:hover {
    box-shadow: 0px 2px 4px rgba(63, 114, 175, 0.16);
    .custom-card-text {
      box-shadow: 0px 2px 4px rgba(63, 114, 175, 0.16);
    }
  }
  .customCardBody {
    position: relative;
  }
  .custom-card-title.h5 {
    color: #112d4e;
    font-size: 18px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 0.02em !important;
  }
  .custom-card-text {
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 5px 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    img {
      width: 15px;
      height: auto;
    }
  }
}
