.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 10px 15px;
      cursor: pointer;
      &:last-child {
        padding-right: 0px;
      }
    }
  }
}
.input {
  position: relative;
  img {
    position: absolute;
    left: 0px;
    top: 6px;
  }
  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #3f72af;
    background: transparent;
    padding: 3px 3px 3px 30px;
    color: rgba(63, 114, 175, 0.54);

    &:focus {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    &:focus-visible {
      outline: none;
    }
  }
}
::-webkit-input-placeholder {
  /* Edge */
  color: rgba(63, 114, 175, 0.54);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(63, 114, 175, 0.54);
}

::placeholder {
  color: rgba(63, 114, 175, 0.54);
}

.load-data {
  overflow: hidden;
  position: relative;
  display: block !important;
  width: 100%;
  border: 0px dashed #3f72af !important;
  font-size: 18px !important;
  line-height: 27px !important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
  color: #3f72af !important;
  background: transparent !important;
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::before {
    content: "";
    position: absolute;
    border: 10px dashed #3f72af;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
  }
}

.go-to-top {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(63, 114, 175, 0.16);
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 3px 4px rgba(63, 114, 175, 0.16);
  }
}
