.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 10px 15px;
      cursor: pointer;
      &:last-child {
        padding-right: 0px;
      }
    }
  }
}
.input {
  position: relative;
  img {
    position: absolute;
    left: 0px;
    top: 6px;
  }
  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #3f72af;
    background: transparent;
    padding: 3px 3px 3px 30px;
    color: rgba(63, 114, 175, 0.54);

    &:focus {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    &:focus-visible {
      outline: none;
    }
  }
}
::-webkit-input-placeholder {
  /* Edge */
  color: rgba(63, 114, 175, 0.54);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(63, 114, 175, 0.54);
}

::placeholder {
  color: rgba(63, 114, 175, 0.54);
}

.load-more {
  
  border: 2px dashed #3f72af;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #3f72af;
}
