body {
  // font-family: "Roboto", sans-serif !important;
}
.page {
  background-color: #f1f4f9;
}
.section-product-home {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-product-description {
  padding-top: 50px;
  padding-bottom: 50px;
}

// .latest-product-title.h1 {
//   font-size: 37px;
//   font-weight: 200;
// }

// h3 {
//   font-weight: 200 !important;
// }
// p {
//   font-weight: 200 !important;
// }

@media (min-width: 1200px) {
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 2.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 2.2) !important;
    margin-top: var(--bs-gutter-y);
    margin-bottom: 64px;
  }
  .getter .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 2.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 2.2) !important;
    margin-top: var(--bs-gutter-y);
    margin-bottom: 64px;
  }
}
