body {
  font-family: "Prompt", sans-serif !important;
  background-color: #f1f4f9;
}
.page {
  background-color: #f1f4f9;
  padding-top: 100px;
}
.section-product-home {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-product-description {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 1200px) {
  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 2.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 2.2) !important;
    margin-bottom: 64px;
  }
  .getter .row > * {
    padding-right: calc(var(--bs-gutter-x) * 2.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 2.2) !important;
    margin-bottom: 64px;
  }
}

@media (max-width: 992px) {
  .row > * {
    margin-bottom: 30px !important;
  }
  .getter .row > * {
    margin-bottom: 30px !important;
  }
}
