.custom-footer-parent {
  display: block;
  padding: 0px 15px;
  background: #fff;
  height: 30px;
}
.custom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 16px;
    color: #112d4e;
    margin-top: 10px;
    a {
      color: #3f72af;
      text-decoration: none;
    }
  }
  a img {
    width: 25px;
    height: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      gap: 10px;
      a {
        display: block;
        font-size: 16px;
        color: #112d4e;
        text-decoration: none;
      }
    }
  }
}
